[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/libsndfile"]
	path = thirdparty/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "thirdparty/flac"]
	path = thirdparty/flac
	url = https://github.com/xiph/flac.git
[submodule "thirdparty/opus"]
	path = thirdparty/opus
	url = https://github.com/xiph/opus.git
